# .gitignore

tfjs/

*.weights
*.pb# Dependencies


# TensorFlow files
tfjs/

*.weights
*.pb
*.bin
*.dll

# TensorFlow specific directories and files
@tensorflow/
tensorflow/
deps/
lib/tensorflow.dll
*.bin